<%%- model_class = <%= singular_table_name.titleize %> -%>

<%% resource ||= resource %>
<%% remote ||= remote %>


<%- attributes.each do |attribute| -%>
  <% unless  attribute.name.downcase == 'deleted_at' %>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted"><%%= model_class.human_attribute_name(:<%= attribute.name.downcase %>) %> :</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%%= resource.try(:<%= attribute.name.downcase %>) %></span>
      </div>
    </div>
  <% end %>
<% end %>