/*
  1 - GERAL
  2 - LOADER
  3 - PLUGINS  
*/

/*
  1 - GERAL
*/

.hidden { display: none !important; }
.form-control:disabled, .form-control[readonly] {background-color: #F3F6F9 !important;}
.coluna-opcoes {width: 250px !important;}
.coluna-opcoes a {margin-right: 5px !important;}
.coluna-index {width: 10px !important;}
.table-size thead tr th,
.table-size tbody tr td {
  font-size: 11px !important;
}
.control-label .required,
.form-group .required {
  color: #e02222;
  font-size: 12px;
  padding-left: 2px;
}
.hiddenRow {
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 13px;
}

/*
  2 - LOADER
*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
}
  
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #F96600;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}
  
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #F96600;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
  
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #F96600;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
  
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);   
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  #loader-wrapper .loader-section-full {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    opacity: 0.1;
    z-index: 1050;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  
  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  
  #loader-wrapper .loader-section.section-left {
    left: 0;
  }
  
  #loader-wrapper .loader-section.section-right {
    right: 0;
  }
  
  .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  
  .loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  
  .loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
  }
  
  .no-js #loader-wrapper {
    display: none;
  }

/*
  3 - PLUGINS
*/

.mfp-no-margins img.mfp-img {padding: 0;}
.mfp-no-margins .mfp-figure:after {top: 0;bottom: 0;}
.mfp-no-margins .mfp-container {padding: 0;}

select[readonly].select2-hidden-accessible+.select2-container {
    pointer-events: none;
    touch-action: none;
}
  
select[readonly].select2-hidden-accessible+.select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}
  
select[readonly].select2-hidden-accessible+.select2-container .select2-selection__arrow,
select[readonly].select2-hidden-accessible+.select2-container .select2-selection__clear {
    display: none;
}

.validated .select2-container--default .select2-selection--single,
.validated .select2-container--default .select2-selection--multiple {
  border: 1px solid #F64E60 !important;
}

.validated .select2-container--default .select2-selection--single .select2-selection__arrow:after,
.validated .select2-container--default .select2-selection--multiple .select2-selection__arrow:after {
  color: #F64E60 !important;
}

.dropzone .dz-message .dz-button {display: none;}
